<div class="card">
    <div class="card-header bg-dark text-white">
      Crear Empleado
    </div>
    <div class="card-body">
        <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" autocomplete="off" formControlName="nombre">
            </div>
            <div class="mb-3">
              <label class="form-label">Telefono</label>
              <input type="text" class="form-control" autocomplete="off" formControlName="telefono">
            </div>
           <div class="mb-3">
              <input type="file" class="form-control" formControlName="imagen" #filePicker (change)="onImagePicked($event)">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <!--<a asp-action="Index" asp-controller="Empleado" class="btn btn-warning">Volver a lista</a>-->
        </form>
    </div>
</div>



<div class="card">
    <div class="card-header bg-dark text-white">
      Lista de empleados
    </div>
    <div class="card-body">
      <a asp-action="Crear" asp-controller="Empleado" class="btn btn-success">Crear Nuevo</a>
      <hr />
      <table class="table table-bordered">
          <thead class="table-dark text-white">
              <tr>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Foto</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of lista">
                <td>{{a.nombre}}</td>
                <td>{{a.telefono}}</td>
                <td>
                    <img src="{{a.urlImagen}}" width="100" height="100">
                </td>

            </tr>

          </tbody>
      </table>
    </div>
  </div>